@import url(https://fonts.googleapis.com/css?family=Yantramanav:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700);
@charset "UTF-8";

body{
	color: red !important;
	background-color: #F5F5F5 !important;
	font-family: 'Yantramanav', sans-serif;
	font-size: 16px;
}

#document{
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}

div#header{
	border-bottom: none !important;
	text-align: center;
}

div#header img{
	width: 100%;
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
}

div#header > h1 {
	color: #004986 !important;
	font-family: 'Titillium', sans-serif;
	font-weight: 700;
	font-size: 28px;
	margin-bottom: 16px;
	display: block;
}

#choose_payment_option{
	margin: 0;
}

#cc.custom_form{
	width: 100%;
}

h1, h2{
	display: none;
}

div.custom_field_row div.custom_field{
	width: 100%;
	margin-bottom: 15px;
	margin-right: 0;
	display: block;
}

div.custom_field_row, div.custom_field{
	margin-bottom: 0;
}

div#cards{
	margin-top: 4px;
}

input[type="submit"]{
	margin-top: 0;
	color: #FFF;
	background-color: #00A3E0;
	border: none;
}

input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus{
	background-color:#0086D6;
}


input{
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	margin: 0;
	box-sizing: border-box;
}
